@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--typeface-brand: 'Montserrat', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
			'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
		--typeface-plain: var(--typeface-brand);
		--typeface-weight-regular: 400;
		--typeface-weight-medium: 500;
		--typeface-weight-bold: 700;
		--typeface-weight-black: 900;

		--typescale-display-large-font: var(--typeface-brand);
		--typescale-display-large-size: 57px;
		--typescale-display-large-line-height: 64px;
		--typescale-display-large-weight: var(--typeface-weight-regular);
		--typescale-display-large-tracking: -0.25px;
		--typescale-display-medium-font: var(--typeface-brand);
		--typescale-display-medium-size: 45px;
		--typescale-display-medium-line-height: 52px;
		--typescale-display-medium-weight: var(--typeface-weight-regular);
		--typescale-display-medium-tracking: 0;
		--typescale-display-small-font: var(--typeface-brand);
		--typescale-display-small-size: 36px;
		--typescale-display-small-line-height: 44px;
		--typescale-display-small-weight: var(--typeface-weight-regular);
		--typescale-display-small-tracking: 0;
		--typescale-headline-large-font: var(--typeface-brand);
		--typescale-headline-large-size: 32px;
		--typescale-headline-large-line-height: 40px;
		--typescale-headline-large-weight: var(--typeface-weight-regular);
		--typescale-headline-large-tracking: 0;
		--typescale-headline-medium-font: var(--typeface-brand);
		--typescale-headline-medium-size: 28px;
		--typescale-headline-medium-line-height: 36px;
		--typescale-headline-medium-weight: var(--typeface-weight-regular);
		--typescale-headline-medium-tracking: 0;
		--typescale-headline-small-font: var(--typeface-brand);
		--typescale-headline-small-size: 24px;
		--typescale-headline-small-line-height: 32px;
		--typescale-headline-small-weight: var(--typeface-weight-regular);
		--typescale-headline-small-tracking: 0;
		--typescale-title-large-font: var(--typeface-brand);
		--typescale-title-large-size: 22px;
		--typescale-title-large-line-height: 28px;
		--typescale-title-large-weight: var(--typeface-weight-regular);
		--typescale-title-large-tracking: 0;
		--typescale-title-medium-font: var(--typeface-plain);
		--typescale-title-medium-size: 16px;
		--typescale-title-medium-line-height: 24px;
		--typescale-title-medium-weight: var(--typeface-weight-medium);
		--typescale-title-medium-tracking: 0.15px;
		--typescale-title-small-font: var(--typeface-plain);
		--typescale-title-small-size: 14px;
		--typescale-title-small-line-height: 20px;
		--typescale-title-small-weight: var(--typeface-weight-medium);
		--typescale-title-small-tracking: 0.1px;
		--typescale-label-large-font: var(--typeface-plain);
		--typescale-label-large-size: 14px;
		--typescale-label-large-line-height: 20px;
		--typescale-label-large-weight: var(--typeface-weight-medium);
		--typescale-label-large-tracking: 0.1px;
		--typescale-label-medium-font: var(--typeface-plain);
		--typescale-label-medium-size: 12px;
		--typescale-label-medium-line-height: 16px;
		--typescale-label-medium-weight: var(--typeface-weight-medium);
		--typescale-label-medium-tracking: 0.5px;
		--typescale-label-small-font: var(--typeface-plain);
		--typescale-label-small-size: 11px;
		--typescale-label-small-line-height: 16px;
		--typescale-label-small-weight: var(--typeface-weight-medium);
		--typescale-label-small-tracking: 0.5px;
		--typescale-body-large-font: var(--typeface-plain);
		--typescale-body-large-size: 16px;
		--typescale-body-large-line-height: 24px;
		--typescale-body-large-weight: var(--typeface-weight-regular);
		--typescale-body-large-tracking: 0.5px;
		--typescale-body-medium-font: var(--typeface-plain);
		--typescale-body-medium-size: 14px;
		--typescale-body-medium-line-height: 20px;
		--typescale-body-medium-weight: var(--typeface-weight-regular);
		--typescale-body-medium-tracking: 0.25px;
		--typescale-body-small-font: var(--typeface-plain);
		--typescale-body-small-size: 12px;
		--typescale-body-small-line-height: 16px;
		--typescale-body-small-weight: var(--typeface-weight-regular);
		--typescale-body-small-tracking: 0.4px;

		--easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
		--easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
		--easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
		--easing-standard: cubic-bezier(0.2, 0, 0, 1);
		--easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
		--easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);

		--duration-1: 0.05s;
		--duration-2: 0.1s;
		--duration-3: 0.15s;
		--duration-4: 0.2s;
		--duration-5: 0.25s;
		--duration-6: 0.3s;
		--duration-7: 0.35s;
		--duration-8: 0.5s;
		--duration-9: 0.45s;
		--duration-10: 0.5s;
		--duration-11: 0.55s;
		--duration-12: 0.6s;
		--duration-13: 0.7s;
		--duration-14: 0.8s;
		--duration-15: 0.9s;
		--duration-16: 1s;

		--pallete-primary-0: 0 0 0;
		--pallete-primary-1: 15 0 0;
		--pallete-primary-2: 25 1 0;
		--pallete-primary-4: 38 2 0;
		--pallete-primary-6: 47 2 0;
		--pallete-primary-8: 55 3 0;
		--pallete-primary-10: 62 4 0;
		--pallete-primary-15: 81 7 0;
		--pallete-primary-20: 101 11 0;
		--pallete-primary-25: 121 15 0;
		--pallete-primary-30: 142 20 0;
		--pallete-primary-35: 163 24 0;
		--pallete-primary-40: 186 29 0;
		--pallete-primary-45: 208 34 0;
		--pallete-primary-50: 231 38 0;
		--pallete-primary-55: 255 43 0;
		--pallete-primary-60: 255 86 54;
		--pallete-primary-65: 255 114 87;
		--pallete-primary-70: 255 138 115;
		--pallete-primary-75: 255 160 141;
		--pallete-primary-80: 255 180 165;
		--pallete-primary-85: 255 200 188;
		--pallete-primary-90: 255 218 211;
		--pallete-primary-92: 255 226 220;
		--pallete-primary-94: 255 233 229;
		--pallete-primary-96: 255 240 238;
		--pallete-primary-98: 255 248 246;
		--pallete-primary-99: 255 252 252;
		--pallete-primary-100: 255 255 255;

		--pallete-neutral-0: 0 0 0;
		--pallete-neutral-1: 4 4 4;
		--pallete-neutral-2: 7 7 7;
		--pallete-neutral-4: 14 14 14;
		--pallete-neutral-6: 19 19 19;
		--pallete-neutral-8: 24 24 24;
		--pallete-neutral-10: 27 27 27;
		--pallete-neutral-15: 38 38 38;
		--pallete-neutral-20: 48 48 48;
		--pallete-neutral-25: 59 59 59;
		--pallete-neutral-30: 71 71 71;
		--pallete-neutral-35: 82 82 82;
		--pallete-neutral-40: 94 94 94;
		--pallete-neutral-45: 106 106 106;
		--pallete-neutral-50: 119 119 119;
		--pallete-neutral-55: 132 132 132;
		--pallete-neutral-60: 145 145 145;
		--pallete-neutral-65: 158 158 158;
		--pallete-neutral-70: 171 171 171;
		--pallete-neutral-75: 185 185 185;
		--pallete-neutral-80: 198 198 198;
		--pallete-neutral-85: 212 212 212;
		--pallete-neutral-90: 226 226 226;
		--pallete-neutral-92: 232 232 232;
		--pallete-neutral-94: 238 238 238;
		--pallete-neutral-96: 243 243 243;
		--pallete-neutral-98: 249 249 249;
		--pallete-neutral-99: 252 252 252;
		--pallete-neutral-100: 255 255 255;

		--color-primary: var(--pallete-primary-50);
		--color-on-primary: var(--pallete-primary-0);
		--color-primary-container: var(--pallete-primary-10);
		--color-on-primary-container: var(--pallete-primary-90);
		--color-on-surface: var(--pallete-neutral-90);
		--color-on-surface-dim: var(--pallete-neutral-80);
		--color-outline: var(--pallete-neutral-60);
		--color-outline-dim: var(--pallete-neutral-30);
		--color-scrim: var(--pallete-neutral-0);
		--color-shadow: var(--pallete-neutral-0);
		--color-shadow-dense: rgb(var(--color-shadow) / 0.3);
		--color-shadow-dim: rgb(var(--color-shadow) / 0.15);
		--color-background: var(--pallete-neutral-2);
		--color-surface-lowest: var(--pallete-neutral-4);
		--color-surface-low: var(--pallete-neutral-6);
		--color-surface-medium: var(--pallete-neutral-10);
		--color-surface-high: var(--pallete-neutral-15);
		--color-surface-highest: var(--pallete-neutral-20);
		--color-inverse-surface: var(--pallete-neutral-90);
		--color-inverse-on-surface: var(--pallete-neutral-20);
		--color-inverse-primary: var(--pallete-neutral-40);

		--shadow-none: 0 0 0 0 var(--color-shadow-dense), 0 0 0 0 var(--color-shadow-dim);
		--shadow-extra-small: 0 1px 2px 0 var(--color-shadow-dense),
			0 1px 3px 1px var(--color-shadow-dim);
		--shadow-small: 0 1px 2px 0 var(--color-shadow-dense), 0 2px 6px 2px var(--color-shadow-dim);
		--shadow-medium: 0 1px 3px 0 var(--color-shadow-dense), 0 4px 8px 3px var(--color-shadow-dim);
		--shadow-large: 0 2px 3px 0 var(--color-shadow-dense), 0 6px 10px 4px var(--color-shadow-dim);
		--shadow-extra-large: 0 4px 4px 0 var(--color-shadow-dense),
			0 8px 12px 6px var(--color-shadow-dim);

		--state-opacity-hovered: 0.08;
		--state-opacity-pressed: 0.16;
		--state-opacity-focused: 0.16;
		--state-opacity-dragged: 0.24;
		--state-opacity-disabled-content: 0.4;
		--state-opacity-disabled-container: 0.16;
	}
}
